body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  line-height: 1.3;
  background: #f1f4ff;
}

.container {
  width: 100%;
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
}

.header {
  background-color: #ebfddd;
  -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  height: 60px;
}

.header .container {
  height: 100%;
  padding: 0 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__link {
  font-size: 23px;
  color: #000;
  font-size: 800;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  padding: 10px;
  border-radius: 15px;
}

.header__link:hover {
  background-color: #80808030;
}

.header__title a {
  font-weight: 400;
  color: black !important;
  font-size: 40px;
  text-align: center;
  display: inline-block;
  font-family: "Roboto", sans-serif;
  background: url("../img/guitar.png") no-repeat;
  background-size: contain;
  padding-left: 60px;
}

.header__title a:hover {
  color: black;
}

.header__cart-holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__cart {
  cursor: pointer;
  border-radius: 50%;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.header__cart:hover {
  background-color: #80808030;
}

.header__cart img {
  width: 41px;
  height: 41px;
  padding: 6px;
  cursor: pointer;
}

.header__cart-counter {
  font-size: 20px;
  margin-left: 10px;
}

.products-container {
  display: -ms-grid;
  display: grid;
  grid-gap: 45px;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  margin: 30px auto;
}

.products__title {
  margin: 30px 0;
}

.products-element {
  max-width: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 0 auto;
  padding: 25px 20px;
  border-radius: 20px;
  background-color: #fff;
  -webkit-box-shadow: 0 16px 24px 2px rgba(33, 37, 41, 0.02), 0 6px 30px 5px rgba(33, 37, 41, 0.04), 0 8px 10px -5px rgba(33, 37, 41, 0.1);
          box-shadow: 0 16px 24px 2px rgba(33, 37, 41, 0.02), 0 6px 30px 5px rgba(33, 37, 41, 0.04), 0 8px 10px -5px rgba(33, 37, 41, 0.1);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.products-element:hover {
  -webkit-transform: scale(1.04);
          transform: scale(1.04);
}

.products-element__name {
  margin-bottom: auto;
  text-transform: uppercase;
  font-weight: 600;
  color: #000;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.products-element__name:hover {
  color: #903e3e;
}

.products-element__img {
  width: 100%;
  height: 270px;
  margin-top: 15px;
  -o-object-fit: contain;
     object-fit: contain;
}

.products-element__price {
  margin-top: 15px;
  color: #000;
  font-weight: bold;
}

.products-element__btn {
  margin-top: 10px;
  padding: 10px 15px;
  border: 1px solid #808080;
  border-radius: border-radius;
  cursor: pointer;
  outline: none;
  background: none;
  font-family: inherit;
  font-size: inherit;
  -webkit-transition: border-color 0.3s;
  transition: border-color 0.3s;
}

.products-element__btn:hover {
  border-color: #00000033;
}

.products-element__btn--active {
  border: 1px solid transparent;
  background-image: -webkit-gradient(linear, left top, right top, from(#e2f87c), color-stop(#d6f567), color-stop(#c8f151), color-stop(#b9ee38), to(#a8eb12));
  background-image: linear-gradient(to right, #e2f87c, #d6f567, #c8f151, #b9ee38, #a8eb12);
}

.products-error {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 20px;
  text-align: center;
}

.products-error p {
  font-size: 25px;
}

.cart__holder {
  margin-top: 20px;
  background-color: #fcfbf7;
  border-radius: 10px;
  padding: 20px 40px;
}

.cart__title {
  margin: 20px 0;
}

.cart__list {
  font-size: 22px;
}

.cart__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 0;
}

.cart__item:not(:last-child) {
  border-bottom: 1px solid black;
}

.cart__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 2px solid #797777;
  padding-top: 20px;
  margin-top: 20px;
  text-align: right;
  font-size: 27px;
}

.cart__empty {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 20px;
}

.cart__empty-btn {
  background-color: #b8f18c;
  padding: 10px 20px;
  margin: 30px 0;
  color: #000;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.cart__empty-btn:hover {
  background-color: #a3d57d;
}

.cart__go-back, .cart__go-order {
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 0;
  padding: 13px 15px;
  font-size: 20px;
}

.cart__go-order {
  background-color: #d8dff9;
  padding: 10px 20px;
  margin: 15px 0;
  color: #000;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.cart__go-order:hover {
  background-color: #b6c4f9;
}

.cart__delete {
  margin-left: 10px;
  font-size: 16px;
  background: url("../img/delete.png") no-repeat;
  background-size: cover;
  width: 20px;
  height: 20px;
  border: none;
  cursor: pointer;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  padding: 5px;
  border-radius: 50%;
}

.cart__delete:hover {
  background-color: #79777729;
}

.product__title {
  margin: 30px 0;
}

.product .container {
  margin-top: 20px;
  background-color: #fcfbf7;
  border-radius: 10px;
  padding: 20px 40px;
}

.product__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.product__desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.product__img {
  display: block;
  margin-right: 30px;
  width: auto;
  height: 100%;
  max-height: 600px;
  padding: 50px;
  background-color: white;
  border: 2px solid #b1b1b1;
}

.product__price {
  font-size: 30px;
}

.product .addToCart {
  margin: 0;
  margin-left: 20px;
  font-weight: 700;
  color: white;
  text-decoration: none;
  padding: 0.8em 1em calc(.8em + 3px);
  border-radius: 3px;
  background: #40c781;
  -webkit-box-shadow: 0 -3px #35a76e inset;
          box-shadow: 0 -3px #35a76e inset;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.product .addToCart:hover {
  background: #35a76e;
}

.product .addToCart:active {
  background: #21935a;
  -webkit-box-shadow: 0 3px #21935a inset;
          box-shadow: 0 3px #21935a inset;
}

.product__desc-title {
  margin-bottom: 20px;
  font-size: 22px;
}

.product__desc-list {
  font-size: 20px;
  border-bottom: 1px solid #b0a2a2;
  padding-bottom: 10px;
  margin-bottom: 30px;
}

.product__desc-item {
  margin: 10px 0;
}

.product__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 480px) {
  .header .container {
    padding: 0 5px;
  }
  .header__title {
    font-size: 32px;
  }
}

@media (max-width: 350px) {
  .header__title {
    font-size: 22px;
  }
}
